@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFBoldA';
    font-weight: 400;
    font-style: normal;   
}

.header {
    height: 30px;
    padding: 1rem;
    color: white;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
  }
  
  .header-nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 250px; /* 헤더 왼쪽 여백*/
    padding-right: 250px; /* 헤더 오른쪽 여백*/
  }
  
  .header-center {
    flex: 1;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  .header-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .header-nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
  }
  



  .header-logo {
    padding-top: 20px;
    text-align: center;
    font-size: 55px;
  }




  
  .top-bar {
    background-color: white; /* 네비게이션 바 배경색 */
    display: flex; /* 수평 가운데 정렬을 위해 Flexbox를 사용 */
    justify-content: center; /* 가운데 정렬 */
    font-size: 30px;
}

.top-bar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.top-bar-nav ul li {
    position: relative;
    display: inline-block;
    margin-right: 60px; /* 상위 카테고리 간격 설정 */
}

.top-bar-nav ul li:last-child {
    margin-right: 0; /* 마지막 항목의 간격은 제거 */
}

.top-bar-nav ul li a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.top-bar-nav ul li:hover > ul {
    display: block; /* 호버 시 드롭다운 메뉴 표시 */
    opacity: 1; /* 투명도를 1로 설정하여 천천히 나타나도록 함 */
}

.top-bar-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white; /* 드롭다운 메뉴 배경색 */
    min-width: 190px; /* 드롭다운 사이즈 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    transition: opacity 0.8s ease; /* 드롭다운 메뉴가 열릴 때 투명도를 0.3초 동안 부드럽게 변화 */
    opacity: 0; /* 초기에는 투명도를 0으로 설정하여 안 보이게 함 */
}

.top-bar-nav ul ul li {
    display: block;
    margin-right: 0; /* 하위 메뉴들의 오른쪽 여백을 제거하여 오른쪽으로 밀려 나오는 문제를 해결 */

}

.top-bar-nav ul ul li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

.top-bar-nav ul ul ul {
    left: 100%;
    top: 0;
}

.top-bar-nav ul li:hover > a {
    color: #AB76FF; /* 호버 시 상위 카테고리 글자 색상 변경 */
    transition: color 0.3s ease; /* 글자 색상이 0.3초 동안 부드럽게 변화하도록 설정 */
}

.top-bar-nav ul ul li:hover > a {
    color: white;
    background-color: #AB76FF; /* 하위 메뉴 호버시 백그라운드 색상 변경 */
    transition: background-color 0.8s ease; /* 백그라운드 색상 변화를 0.8초 동안 부드럽게 적용 */
}
