<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <select v-model="msg1">
                <option value="">선택</option>
                <option value="철수">철수</option>
                <option value="영희">영희</option>
                <option value="영수">영수</option>
            </select>
        </div>
        <br>
        결과 : {{msg1}}
        <hr/>

        <div>
            <div>
                <select v-model="msg2">
                    <option value="">선택</option>
                    <option v-for="sel in selList" :value="sel" >{{sel}}</option>
                </select>
            </div>
        </div>
        <br>
        결과 : {{msg2}}
        <hr/>

        <div>
            <div>
                <select v-model="msg3">
                    <option value="">선택</option>
                    <option v-for="sel in selList2" :value="sel.value" >{{sel.label}}</option>
                </select>
            </div>
        </div>
        <br>
        결과 : {{msg3}}
    </div>

    <script>
        const { createApp } = Vue;
        createApp({
            data(){
                return { 
                    msg1 : "철수",

                    selList : ["철수", "영희", "영수"],
                    msg2 : "영희",
                    
                    selList2 : [
                        {value : "철수", label : "철수입니다"},
                        {value : "영희", label : "영희입니다"},
                        {value : "영수", label : "영수입니다"}
                    ],
                    msg3 : "영수"
                }
            }
        }).mount("#app");
    </script>
</body>
</html>